body{ margin: 0px 40px; background-color: rgb(238, 238, 238); }

.jumbotron{ background: url("image/sc_landing_header_web_b-447230e.jpg") ;  border-radius: 0; height:450px;
-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  background-size: 100% 100%; border-top: 4px solid rgb(255, 72, 0); }
    
.logo{ color: #ffffff;   position: absolute; top: 25px;  }

.creators { background: url("image/hp_creator_image-e08dee4.jpg"); border-radius: 0; height:350px;   
-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  background-size: 100% 100%; }

.container-fluid .creators .row .col-md-6 p { color: #ffffff; }
.container-fluid .app .row .col-md-5 a img { height:40px; width: 135px; margin: 30px 0px; }

@media only screen  and (max-width: 1080px) {
    .jumbotron {
      width: 960px;
    }
   
    .creators {
        width: 960px;
    }
 
}