body{  background-color: #f2f2f2; width:1240px; margin:0 auto;  font-family:  "Lucida Grande" sans-serif;}


.jumbotron{ background: url("../image/head1.jpg") ;background-position: center;  border-radius: 0;   height:450px; position: relative;  
-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; background-size: 100% 100%;   border-top: 4px solid #f50;   margin:0px auto;
}

.logo{ color: #ffffff;   position: absolute; top: 24px; left: 30px; font-size:32px; font-weight: 600;}
.crea{   position: absolute; top: 24px; right: 30px;  background-color: transparent; font-size:14px;  font-weight: 600;}
.sing button{   position: absolute; top: 60%; left: 40%; width: 210px; height: 46px; border:none; border-radius: 3px; cursor: pointer;  background-color:  #FF5500; font-size:18px; color: #fff  }
.crea .creabt2{   border: none;  background-color: transparent; }
.crea .creabt2 a{color: #ffff; text-decoration: none;} 
.crea .creabt1{  color: #ffff; text-decoration: none;  width: 130px; height: 30px; border:none; border-radius: 3px; cursor: pointer;  background-color:  #FF5500;}




.creators { background: url("../image/hp_creator_image-e08dee4.jpg") ; background-position: center;  position: relative;  border-radius: 0; height:350px;   
  -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  background-size: 100% 100%;margin:0px auto; }
  
 .creators .row .col-lg-8  .calling { color: #ffffff; margin-top:70px; font-size: 36px; font-stretch: 100%; margin-left:-30px; }    
 .creators .row .col-lg-8  .Get { color: #ffffff;font-size: 24px; font-stretch: 100%;margin-left:-30px;}  
 .creators .row .col-lg-8  .Get1 { display: none; color: #ffffff;     margin-left: -30px; } 
 .creators .row .col-lg-8  .Get2 { color: #ffffff;font-size: 24px; font-stretch: 100%;  display: none;      margin-left: -30px; } 


.app1 { height: 450px;  position: relative; }
.app{position: absolute; right:75px; margin-top: 100px ;}
.app  p{color: rgb(51, 51, 51)}
.app .row img{width: 100%; height: 100%;}
.app a img { height:40px; width: 135px; margin-top: 25px;}
.app .Never::after{content: "";  display: block; width: 70px; height: 3px;
background-image: linear-gradient(to right, rgb(125, 1, 161), rgb(255, 51, 0) 50%, rgb(255, 85, 0)); margin-top: 10px;}


footer { font-size:14px;  background-color: #FFFFFF; padding: 20px 30px 50px 30px;}
.line{ color: #ccc; }
footer a { color: #ccc; }
footer a:hover { cursor: pointer;  text-decoration: none;color: #999}

  footer   p {color: rgb(51, 51, 51);  }
footer   p > .color{color: #3388DD; cursor: pointer;  margin-right: 5px; }
footer  p:hover  {color: rgb(51, 51, 51); cursor: pointer; }
footer  p:hover > .color {color: rgb(51, 51, 51); cursor: pointer; }


.close3 { color: #000;  position: absolute; top: -5px; right: 15px; font-size: 36px;text-decoration: none; cursor: pointer;}
.modal1 { display: none;  position: fixed;  z-index: 1;  padding-top: 80px; padding-bottom: 30px;  left: 0; top: 0; border:none;
  width: 100%;  height: 100%;    background-color: rgba(242,242,242,.9);  overflow-y:scroll;  }
.modal-content1 {position: relative center;  background-color: #fefefe; margin:0px auto; padding: 10px; width: 440px; height: 620px; font-size: 14px;  
  -webkit-animation-name: animatetop;  -webkit-animation-duration: 0.4s;  animation-name: animatetop;  animation-duration: 0.4s;  }
.close2 { color: #000;  position: absolute; top: -5px; right: 15px; font-size: 36px;}
.close2:hover, .close2:focus {  text-decoration: none; cursor: pointer;}
.modal-body1 { height: auto;  padding: 10px; position: relative;}
.modal-body1  button{ background-color: #FF5500;border:none;  width: 400px; height: 40px; color: #FFFFFF; font-size: 16px}
.modal-body1 p{color: #999999; font-size: 12px; display: block; margin: 10px 0px;     font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.modal-body1 form{margin: 70px 0px;}
.help {width: 400px; margin: 10px 0px 40px 0px;  }

.help a{color: #3388DD; font-size: 12px; font-weight:600 ;  text-decoration: none;   float: right;   }
.privacy  a{ color: #3388DD;  margin: 0px; font-size: 12px; text-decoration: none; }
input[type=text] {  width: 100%;  padding: 12px 20px;  margin: 8px 0;  box-sizing: border-box; }
input[type=password] {  width: 100%;  padding: 12px 20px;  margin: 8px 0;  box-sizing: border-box;}


.modal { display: none;  position: fixed;  z-index: 1;  padding-top: 80px;  left: 0; top: 0; border:none;
  width: 100%;  height: 100%;    background-color: rgba(242,242,242,.9)    }
.modal-content {position: relative center;  background-color: #fefefe; margin:0px auto; padding: 10px; width: 550px;  font-size: 14px;  
  -webkit-animation-name: animatetop;  -webkit-animation-duration: 0.4s;  animation-name: animatetop;  animation-duration: 0.4s;  }
.close { color: #000;  position: absolute; top: 8px; right: 10px; font-size: 34px; font-weight: bold;}
.close:hover, .close:focus {  text-decoration: none; cursor: pointer;}
.modal-header { margin-top:8px; margin-bottom:0px; margin-left:16px; color: rgb(51, 51, 51); font-size: 22px; height: 30px; }
.no-border{ border:none; }
.modal-body a{margin: 3px 16px; text-decoration: none;  }
.modal-body { height: 100px;  padding: 10px; }
.modal-body a:hover {color: rgb(51, 51, 51);text-decoration: none;}
.modal-footer {  height: 70px; position: relative ; }
.modal-footer  button{  font-size: 14px;position: absolute ; top:25px; right: 20px; color: rgb(51, 51, 51);}

.music {background-color: #ffffff; margin: 0px ;}

.no-border{ border:none; }


.video {width: 1200px; position: relative; margin:0px 10px;}
.video  .row img { width: 180px; height: 180px; margin: 0px 10px}
.video  .row iframe {width: 180px; height: 180px; margin: 0px 10px}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


@media only screen   and (max-width: 1240px) {

  body{
    width: 1080px;
    margin:0px auto;
  }
   .jumbotron {
     width: 1080px;
     padding: 0px 20px;
     background-size: cover;

   }
   .video {width: 1040px; position: relative; margin:0px 10px;}

   .video  .row img {width: 153px; height: 153px;  margin: 0px 10px}
   .video  .row iframe {width: 153px; height: 153px;  margin: 0px 10px }
 
   .creators {
    width: 1080px;

 }
    .creators .row .col-lg-8  .Get{
     display: none;
   }
    .creators .row .col-lg-8 .Get2{
     display: inline-block;
   }
 }
@media only screen   and (max-width: 1080px) {
  body{
    width: 960px;
    margin:0px auto;
  }
  .logo{
    margin-left: 8px;
  }
    .music {
      width: 960px;
  }

  .video {width: 920px; position: relative; margin:0px 10px;}

  .jumbotron {
    background-size: cover;

    width: 960px;
  }
  .creators {

    width: 960px;
  }
  
   .creators .row .col-lg-8  .calling{
    font-size: 24px;
    margin-top: 70px;

  }
  .video  .row img {width: 136px; height: 136px;  margin: 0px 10px}
  .video  .row iframe {width: 136px; height: 136px;  margin: 0px 10px}
  
 .creators .row .col-lg-8  .Get{
    display: none;
    font-size: 18px;
  }
   .creators .row .col-lg-8  .Get2{
    display: none;
  }
   .creators .row .col-lg-8 .Get1{
    display: inline-block;
    font-size: 18px;
  }

    .container .row .col-md-2 .john img{
      width: 136px;
      height: 136px;
    }
    .container-fluid .creators .row p{
      margin-left: 90px;
    }
    .container-fluid{
      margin-left:-15px;
    }

}
@media only screen   and (max-width: 992px) {
  .music {
    width: 960px;
}
body{
  width: 960px;
  margin:0px auto;
}
.jumbotron {
  width: 960px;
}
.creators {
  width: 960px;
}

.video {width: 920px; position: relative;}

 .creators .row .col-lg-8  .calling{
  font-size: 24px;
  margin-left: 50px;
    display: inline-block;
}
 

.creators .row .col-lg-8  .Get{
display: none;
}
.creators .row .col-lg-8  .Get2{
display: none;
}
.creators .row .col-lg-8 .Get1{
display: inline-block;
font-size: 18px;
margin-left: 50px;

}

  .container .row .col-md-2 .john img{
    width: 136px;
    height: 136px;
  }
  .container-fluid .creators .row p{
    margin-left: 90px;
  }
  .container-fluid{
    margin-left:-15px;
  }

}
@media only screen   and (max-width: 600px) {
  .modal-content{
    width: auto;
  margin: 0px 20px;
  }
  
  .modal-header{
    margin-top: 0px;
    margin-left: 0px;

  }
  .modal-body{
    overflow-x: hidden;
  }
}
@media only screen   and (max-width: 500px) {

  .modal-content1{
    width: auto;
  margin: 0px 20px;
  }
  .modal-body1  button {
    width: 100%;
  }
  .help {
    width: 100%;
  }
  

}
@media only screen   and (max-width: 370px) {

.modal-content1{
  width: auto;
margin: 0px 20px;
}

.modal-body1  button {
  width: 320px;
}

.modal-body1{
  overflow-x: hidden;
}
.help{width: 320px}

.modal-body1 p{width: 320px}
.privacy  a{ width: 320px }
input[type=text] {  width: 320px}
input[type=password] {  width: 320px}


}
@media only screen   and (max-width: 297px) {
  .modal-body{
    width: auto;
  }

  .modal{width: auto;}
  .modal-header{
    width: auto;
    margin-top: 0px;
    margin-left: 0px;

    margin-bottom: 30px;
  }
}
@media only screen   and (max-width: 201px) {
   .modal{width: auto;}

  .modal-header{
  margin-top: 0px;

    margin-left: 0px;
    margin-bottom: 65px;
  }
}